.btncancel {
  background-color: rgb(87, 87, 87);
  padding-right: 10px;
  font-size: 20px;
}

.btndelivered{
  color: #1fa781;
  padding: 10px;
}


.btndeletereport {
  background-color: red;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.btndeletereport:hover {
  cursor: pointer;
}